<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}
      Welcome to home page 
      {% endblock title %}</title>
    {% block corecss %}
    <link rel="stylesheet" href="{% static  'core/css/core.css' %}" />
    {% endblock corecss %}
  </head>
  <body>
    <nav>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Django</li>
      </ul>
    </nav>
    {% block content %}
    <h2>This is base class</h2>
    {% endblock content %}
  </body>
</html>
